<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">


    <!--<bean id="stu1" class="com.chang.entity.Student">-->
        <!--<property name="id" value="1"></property>-->
        <!--<property name="name" value="畅"></property>-->
        <!--<property name="age" value="31"></property>-->
    <!--</bean>-->

    <!--<bean id="stu2" class="com.chang.entity.Student" scope="prototype">-->
        <!--<property name="id" value="1"></property>-->
        <!--<property name="name" value="haha"></property>-->
        <!--<property name="age" value="31"></property>-->
    <!--</bean>-->
    <!--<bean id="stu3" class="com.chang.entity.Student" parent="stu1">-->
        <!--<property name="name" value="李"></property>-->
    <!--</bean>-->

    <bean id="user" class="com.chang.entity.User" depends-on="car">
        <property name="id" value="1"></property>
        <property name="name" value="zhangsan"></property>
        <property name="age" value="12"></property>
    </bean>
    <bean id="car" class="com.chang.entity.Car">
        <property name="id" value="1"></property>
        <property name="brand" value="audi"></property>
    </bean>
   <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${driverName}"></property>
        <property name="jdbcUrl" value="${url}"></property>
        <property name="user" value="${user}"></property>
        <property name="password" value="${pwd}"></property>
    </bean>

    <bean id="user1" class="com.chang.entity.User" p:id="22" p:name="haha" p:age="15">

    </bean>
</beans>